/*
 * ===========================================================
 * Custom styles
 */

.sf-logo {
    height: 50px;
}
.global-search {
    width: 400px;
}

.user-container {
    height: 150px;
}

.avatar {
    width: 200px;
    height: 200px;
    position: relative;
    top: -100px;
    background-color: white;
    border: 5px solid #e5e5e5;
}

body {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

dialog {
    border: none;
    background-color: transparent;
    width: 50%;
    max-width: 40rem; 
    min-width: 20rem;
}

dialog::backdrop {
    background: var(--slds-c-backdrop-color-background, var(--sds-c-backdrop-color-background, var(--slds-g-color-neutral-10-opacity-50, var(--lwc-colorBackgroundTempModalTint,rgba(8, 7, 7, 0.6)))));
}

/*
 * ===========================================================
 * Spacing
 */
.pas { padding: .5rem; }
.pam { padding: 1rem; }
.phm { padding-left: 1rem; padding-right: 1rem; }
.pvm { padding-top: 1rem; padding-bottom: 1rem; }
.pvs { padding-top: .5rem; padding-bottom: .5rem; }

.mam { margin: 1rem; }
.mhm { margin-left: 1rem; margin-right: 1rem; }
.mvm { margin-top: 1rem; margin-bottom: 1rem; }
.mrxs { margin-right: .25rem; }
.mr-auto { margin-right: auto; }


/*
 * ===========================================================
 * Display & Width
 */
.df { display: flex; }
.df-baseline { align-items: baseline; }
.df-spaceBetween { justify-content: space-between; }
.df-end { justify-content: end; }
.df-center { justify-content: center; }

.dib { display: inline-block; }

.width-25 { width: 25%; }
.width-75 { width: 75%; }
.width-100 { width: 100%; }


/*
 * ===========================================================
 * Colors & Styles
 */
.bg-white { background-color: white; }
.border-l { border-left: 1px solid black; }

.border-rounded { border-radius: .5rem; }
.circle { border-radius: 50%; }

.bold { font-weight: bold; }



