body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
 * ===========================================================
 * Spacing
 */
.pam { padding: 1rem; }
.phm { padding-left: 1rem; padding-right: 1rem; }
.pvm { padding-top: 1rem; padding-bottom: 1rem; }
.mam { margin: 1rem; }
.mhm { margin-left: 1rem; margin-right: 1rem; }
.mvm { margin-top: 1rem; margin-bottom: 1rem; }


/*
 * ===========================================================
 * Display
 */
.df { display: flex; }
.df-baseline { align-items: baseline; }


/*
 * ===========================================================
 * Colors & Styles
 */
.bg-white { background-color: white; }
