body {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

dialog {
    border: none;
    background-color: transparent;
    width: 50%;
    max-width: 40rem; 
    min-width: 20rem;
}

dialog::backdrop {
    background: var(--slds-c-backdrop-color-background, var(--sds-c-backdrop-color-background, var(--slds-g-color-neutral-10-opacity-50, var(--lwc-colorBackgroundTempModalTint,rgba(8, 7, 7, 0.6)))));
}

/*
 * ===========================================================
 * Spacing
 */
.pam { padding: 1rem; }
.phm { padding-left: 1rem; padding-right: 1rem; }
.pvm { padding-top: 1rem; padding-bottom: 1rem; }
.mam { margin: 1rem; }
.mhm { margin-left: 1rem; margin-right: 1rem; }
.mvm { margin-top: 1rem; margin-bottom: 1rem; }


/*
 * ===========================================================
 * Display
 */
.df { display: flex; }
.df-baseline { align-items: baseline; }
.df-spaceBetween { justify-content: space-between; }
.df-end { justify-content: end; }

.width-25 { width: 25%; }


/*
 * ===========================================================
 * Colors & Styles
 */
.bg-white { background-color: white; }
.border-l { border-left: 1px solid black; }


